.checked {
  color: red;
  text-decoration: line-through;
}

div
{
  justify-content: center;
  margin: 10px;
}

input[type="text"]
{
  width: 25%;
  padding: 12px 0px;
  margin: 8px 1px;
  box-sizing: border-box;
  border-style: none;
  border-bottom: 2px solid #f9f9f9;

}

button
{
  background-color: firebrick;
  color: white;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

button:hover
{
  background-color: darkred;
}


li {
  list-style-type: none;
  margin: 5px;
  padding: 10px;
  background-color: white;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  input[type="text"] {
    width: 100%;
    padding: 8px 0px;
    margin: 4px 0px;
  }

  button {
    width: 100%;
    padding: 10px;
  }

  li {
    flex-direction: column;
    align-items: flex-start;

  }

  input[type="checkbox"] {
    width: 25px;
    height: 25px;
  }


}