.header {
    position: static;
    left: 0;
    top: 0;
    width: 100%;
    background-color: firebrick;
    color: black;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 600px) {
    .header {
        padding: 10px;
        font-size: 14px;
    }
}